# .env.example

# 서버 포트
PORT=3000

# PostgreSQL 연결 문자열 (postgresql://유저명:비밀번호@호스트:포트/DB명)
DATABASE_URL=database_url

# 세션 암호화 키
SESSION_SECRET=session_secret

# JWT 서명 키
JWT_SECRET=jwt_secret

# 허용할 클라이언트 주소 (CORS)
CLIENT_URL=http://localhost:3000